@media (min-width: 320px) {

  header {
    margin-bottom: 25%;
  }

  .home-content {
    display: block;
    width: 400px;
    margin: 0 auto;
}

  .wn2 {
    margin-right: 0;

  }
  .wn1 {
    margin-left:0;
  }



}


@media (min-width: 700px) {

  header {
    margin-bottom: 15%;
  }

  .work-head {
    margin-bottom: 10%;
  }

  .home-content {
    display: flex;
    width: 900px;
    margin: 0 auto;

}

.wn2 {
  margin-right: 2.5rem;

}
.wn1 {
  margin-left:2.5rem;
}

}


@media(min-width: 1000px) {
  .work-head {
    margin-bottom: 10%;
  }

  .wn2 {
    margin-right: 2.5rem;

  }
  .wn1 {
    margin-left:2.5rem;
  }
}
