@media (min-width: 320px) {

  header {
    margin-bottom: 25%;
  }

  .home-content {
    display: block;
    width: 300px;
    margin: 0 auto;
}

  /* .wn2 {
    margin-right: 0;

  } */

  .wn-j {
    position: fixed;
    right: 2.5rem;
    top:5rem;
  }

  .wn-br {
    position: fixed;
    /* right: 2.5rem; */
    top:5rem;
  }


  /* .wn1 {
    margin-left:0;
  } */

  .ac-title {
    font-size: 4rem;
  }

  .a-c2 {
    font-size: 1rem;
  }

  .a-c3 {
    margin-top: 0;
  }



}


@media (min-width: 700px) {

  header {
    margin-bottom: 15%;
  }

  .work-head {
    margin-bottom: 10%;
  }

  .home-content {
    display: flex;
    width: 900px;
    margin: 0 auto;

}

  .wn-j {
    margin-right: 2.5rem;
    position: fixed;
    right: 2.5rem;
    top:20rem;
  }

  .wn-br {
    margin-right: 2.5rem;
    position: fixed;
    /* right: 2.5rem; */
    top:20rem;
  }



  .ac-title {
    font-size: 5rem;
  }

  .a-c2 {
    font-size: 1.1rem;
  }

  .a-c3 {
    margin-top: 3rem;
  }



}


@media(min-width: 1000px) {
  .work-head {
    margin-bottom: 10%;
  }

  .a-c3 {
    margin-top: 3rem;
  }
}
