* {
  /* background: #FFF1D0; */
  background: #f0ede1;
  box-sizing: border-box;
}

body {
    margin: 2.5rem;
    font-family: 'HK Grotesk';

    /* font-family: "Helvetica" , sans-serif; */
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Didact Gothic', sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'Darker Grotesque', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
}


.intext-link , .intext-link2{
  background-color: transparent;

  text-decoration: none;
  color: black;
  /* color: #052E22; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

.intext-link {
  font-weight: 600;
}

.intext-link2 {
  font-family: 'Recoleta';
  font-weight: 600;
}

.intext-link:hover{
  font-weight: normal;
}

.intext-link2:hover{
  color: transparent;
  -webkit-text-stroke: 0.75px black;
}



.button , .reset-style , .submit-style {
  /* font-family: 'Darker Grotesque', sans-serif; */
  background-color: Transparent;
  text-decoration: none;
  color: black;
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
  border: solid 1px transparent;
  /* outline: none; */
  font-size: 0.9rem;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-transform: uppercase;
}

input[type=submit]  {
outline: none;
/* color:#b4876e;
decoration:none; */
}

input[type=text] {
  border: 1px solid black;
}

input[type=text]:focus  {
outline: none;
decoration:none;

}

.button:hover, .button-focus , .reset-style:hover, .reset-style:focus, .submit-style:hover, .submit-style:focus {


}

code {
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1px;
  border: dashed 1px black;
  display: block;
  max-width: 700px;
}



h1,h2,h3,h4 {
  /* font-family: 'Raleway', sans-serif;
  font-weight: 500; */
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: 'Jomolhari', serif; */
  /* font-family: 'Freight-Display-Book' , serif; */
  /* font-family: 'FreightDisp Pro' , serif; */
  font-family: 'Recoleta';
  font-weight: 600;
  text-transform: uppercase;
  /* text-transform: uppercase; */
  /* color: #052E22; */
  color: black;
}

.site-h2 {
  font-size: 2.3rem;
}

.site-h3 {
  font-size: 1.6rem;
}

.site-h4 {
  font-size: 1.3rem;
}

.site-h5 {
  font-family: 'HK Grotesk';
  font-weight: 'bold';
  font-size: 1rem;
  text-transform: uppercase;

}

/*
h2 {
  text-decoration: underline;
} */

section p {
  max-width: 700px;
  line-height: 1.5em;
  font-size: 0.85em;
  letter-spacing: -0.5px;
}

section h4 , section h5 {
  line-height: 0.5em;
}

/* .site-h5 {
  text-decoration: underline;
} */

.color1, .color2, .color3, .color4 , .color5{
  font-size: 1em;
  text-align: center;
  padding: 0.7em;
  max-width: 300px;
}

.color1 {
  background-color: black;
  color: white;
}

.color2 {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.color3 {
  background-color: #f0ede1;
  color: black;
}

.c3 {
  color: #052E22;
}

.color4 {
  /* background-color: #589659; */
  background-color:#c6d3b8;
  color: black;
}



/* ADDITIONAL WEBSITE STYLING */


/* HOME PAGE + GENERAL PAGE ELEMENTS */

footer {
  margin-top: 15%;
}

.m-item1 {
  background-color: transparent;
  position: fixed;
  left: 2.5rem;
  top: 2.5rem;
  /* z-index: 15; */
}


.m-item2 {
  position: fixed;
  right: 2.5rem;
  top:3.2rem;
  z-index: 16;
}
.m-item3 {
position: fixed;
left: 2.5rem;
bottom: 2.5rem;
}

.m-item4 {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
}

.cm {
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-family: 'Recoleta';
  font-weight: 600;
  font-size: 1.5rem;
}

.m-item2 , .m-item3 , .m-item4 {
  background-color: transparent;
  font-family: 'Recoleta';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.home-content {
  display:block;

}

.mockup {
  max-width: 100%;
}


.hkl-u {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.h-con {
  justify-content: center;
}
.hc-wrap {
  width: 90%;
}

.hc-title {
  margin-bottom: 10px;
}

.h-desc {
  display: flex;
  align-items: baseline;
}
/* .hd {
  flex: 1;
} */

.hd1 {
  text-align: left;

}
.hd2 {
  text-align: right;
  line-height: 1em;
  flex-grow: 1;
}

.hd p {
  margin: 0;
}

.photo-link:hover {
  opacity: 0.5;

}

/* SPECIFIC WORK PAGES STYLING */

.work-nav{
  display: flex;
}

.wn h5 {
  margin: 0;
}

.wn {
  flex: 1;
}
.wn2 {
  text-align: right;
}



/* .row {
  display: flex;
}

.m-item {
  flex: 1;
} */
