* {
  /* background: #FFF1D0; */
  background: #FFFBF2;
  box-sizing: border-box;
}

body {
    margin: 2.5rem;
    /* font-family: "Helvetica" , sans-serif; */
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Didact Gothic', sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'Darker Grotesque', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
}


.intext-link{
  background-color: transparent;

  text-decoration: none;
  color: black;
  /* color: #052E22; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

.intext-link:hover{
  /* color: #052E22; */
  /* color: #589659; */
  /* font-weight: 500; */
  letter-spacing: -0.5px;
  font-style: italic;

}



.button , .reset-style , .submit-style {
  /* font-family: 'Darker Grotesque', sans-serif; */
  background-color: Transparent;
  text-decoration: none;
  color: black;
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
  border: solid 1px transparent;
  /* outline: none; */
  font-size: 0.9rem;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

input[type=submit]  {
outline: none;
/* color:#b4876e;
decoration:none; */
}

input[type=text] {
  border: 1px solid black;
}

input[type=text]:focus  {
outline: none;
decoration:none;

}

.button:hover, .button-focus , .reset-style:hover, .reset-style:focus, .submit-style:hover, .submit-style:focus {
    /* border: solid 1px #052E22; */
    /* background-color: #052E22; */
    /* color: #052E22;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px; */
    letter-spacing: -0.5px;
    font-style: italic;

}

code {
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1px;
  border: dashed 1px black;
  display: block;
  max-width: 700px;
}



h1,h2,h3,h4,h5 {
  /* font-family: 'Raleway', sans-serif;
  font-weight: 500; */
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: 'Jomolhari', serif; */
  /* font-family: 'Freight-Display-Book' , serif; */
  /* font-family: 'FreightDisp Pro' , serif; */
  text-transform: uppercase;
  /* text-transform: uppercase; */
  /* color: #052E22; */
  color: black;
}

.site-h2 {
  font-size: 2.3rem;
}

.site-h3 {
  font-size: 1.8rem;
}

.site-h4 {
  font-size: 1.3rem;
}

.site-h5 {
  font-size: 1.1rem;
}

/*
h2 {
  text-decoration: underline;
} */

section p {
  max-width: 700px;
  line-height: 1.5em;
  font-size: 0.85em;
  letter-spacing: -0.5px;
}

section h4 , section h5 {
  line-height: 0.5em;
}

/* .site-h5 {
  text-decoration: underline;
} */

.color1, .color2, .color3, .color4 , .color5{
  font-size: 1em;
  text-align: center;
  padding: 0.7em;
  max-width: 300px;
}

.color1 {
  background-color: black;
  color: white;
}

.color2 {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.color3 {
  background-color: #052E22;
  color: white;
}

.c3 {
  color: #052E22;
}

.color4 {
  /* background-color: #589659; */
  background-color:#70A37F;
  color: white;
}


.color5 {
  background-color: #084793;
  color: white;
}

.c5 {
  color: #F1CD1E;
}



.project2-final , .project-img {
  max-width: 300px;
}


/* ADDITIONAL WEBSITE STYLING */

.cm, .nav-link , .work-link {
  text-decoration: none;
  /* font-family: 'FreightDisp Pro' , serif; */
  font-family: 'Druk Wide';
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}

/* .work-link {
  color: transparent;
  -webkit-text-stroke: 3px black;
} */
