@font-face {
    font-family: 'FreightDisp Pro Book';
    src: url('FreightDispProBook-Regular.woff2') format('woff2'),
        url('FreightDispProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightDisp Pro';
    src: url('FreightDispProBold-Regular.woff2') format('woff2'),
        url('FreightDispProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

